<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cursos</title>
</head>
<body>
<main>
    <div  class="container-form">
        <h1>Cadastro de Cursos</h1>
        <form th:action="@{/curso/salvar}" th:object="${curso}" method="post" id="cursoForm">
            <div>
                <label for="id">Id:</label>
                <input type="text" id="id" th:field="*{id}" placeholder="Id" readonly />
            </div>
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" placeholder="Nome"/>
            </div>
            <div>
                <label for="assunto">Assunto:</label>
                <input type="text" id="assunto" th:field="*{assunto}" placeholder="Assunto"/>
            </div>
            <div>
                <label for="encontros">Encontros:</label>
                <input type="number" id="encontros" th:field="*{encontros}" placeholder="Encontros" />
            </div>
            <div>
                <label for="situacao">Situação:</label>
                <select id="situacao" th:field="*{situacao}">
                    <option value="" disabled selected>Selecione a situação</option>
                    <option value="ATIVO"> Ativo </option>
                    <option value="INATIVO"> Inativo </option>
                </select>
            </div>
            <div class="div-button">
                <button type="submit">Salvar</button>
                <button type="reset">Limpar</button>
                <button type="button" onclick="window.location.href='/curso/listarDados'">Listar</button>
            </div>
        </form>
        <div id="response-api" class="hide-message"></div>
    </div>
</main>
<script src="/cadastros/cadastroCurso.js"></script>
</body>
</html>